@import url('./__close/popup__close.css');

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0 20px;
    box-sizing: border-box;

    visibility: hidden;
    opacity: 0;
}