.body {
    background-color: rgb(0, 0, 0);
    margin: auto;
    padding: 0 50px;
    width: 100%;
    max-width: 1920px;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
}

@media screen and (max-width: 767px) {
    .body {
        height: 100vh;
    }
}