.contacts__phone {
    margin: 18px 0 0 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

@media screen and (max-width: 767px) {
    .contacts__phone {
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
    }
}