
@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Montserrat.css);

@import url(./blocks/body/body.css);
@import url(./blocks/content/content.css);
@import url(./blocks/header/header.css);
@import url(./blocks/container/container.css);
@import url(./blocks/profile-info/profile-info.css);
@import url(./blocks/foto/foto.css);
@import url(./blocks/info/info.css);
@import url(./blocks/contacts/contacts.css);
@import url(./blocks/list-items/list-items.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_open/popup_open.css);
@import url(./blocks/popup-portfolio/popup-portfolio.css);
@import url(./blocks/portfolio-items/portfolio-items.css);
@import url(./blocks/popup-opened/popup-opened.css);
@import url(./blocks/element-container/element-container.css);
@import url(./blocks/portfolio-item-image/portfolio-item-image.css);
@import url(./blocks/portfolio-item-name/portfolio-item-name.css);
@import url(./blocks/link-item/link-item.css);
