.info__full-stack {
    margin: 30px 0 0 0;
    max-width: 402px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}


@media screen and (max-width: 767px) {
    .info__full-stack {
        margin: 15px 0 0 0;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
    }
}