.header__logo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url('https://sun9-27.userapi.com/impf/c844521/v844521489/15652e/_IBSBpUkpb8.jpg?size=1962x2160&quality=96&proxy=1&sign=965b63bd698668d26f45ed5a293964eb&type=album');
    background-position: center;
    background-size: contain;
    margin: auto 0;
}