@import url(./__item/elements__item.css);

.elements {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 767px) {
    .elements {
        gap: 10px;
    }
}