.profile-info__about-me {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 830px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
   
}

/* .profile-info__about-me:last-child {
    margin-top: 10px;
} */