.profile-info__about-me {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 830px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
   
}

@media screen and (max-width: 767px) {
    .profile-info__about-me {
        max-width: 270px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
    }
}