.info__title{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
}

@media screen and (max-width: 767px) {
    .info__title {
        max-width: 262px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
    }
}