.foto {
    max-width: 377px;
    object-fit: cover;
    border-radius: 2%;
}

@media screen and (max-width: 1024px) {
    .foto {
        position: absolute;
        top: 100px;
        right: 50px;
        max-width: 150px;
    }
}