.foto {
    max-width: 377px;
    object-fit: cover;
    border-radius: 2%;
}

@media screen and (max-width: 767px) {
    .foto {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 120px;
    }
}