.profile-info__greeting {
    margin: 0 0 23px 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
}


@media screen and (max-width: 767px) {
    .profile-info__greeting {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 30px;
        margin: 0;
    }
}