@import url(./__close/popup-portfolio__close.css);

.popup-portfolio {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
}