.popup-portfolio {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);

    visibility: hidden;
    opacity: 0;
    transition: 0.5s, opacity 0.5s;
}